footer.footer {
  position: fixed;
  bottom: 0;
  border-top: $light-border;
  height: $footer-logo-height + 0.5rem;
  width: 100%;

  .logo {
    a {
      display: block;
      height: $footer-logo-height;
    }
    img, svg {
      width: auto;
      height: $footer-logo-height;
    }
  }
}

@include mobile {
  .footer-copyright {
    text-align: center;
  }
}
