footer.footer {
  position: fixed;
  bottom: 0;
  height: $footer-logo-height + 0.5rem;
  width: 100%;

  .logo {
    img {
      width: auto;
      height: $footer-logo-height;
    }
  }
}

@include mobile {
  .footer-copyright {
    text-align: center;
  }
}
